.advantages {
  background-color: #242424;
  background-image: url(../../img/angle.svg);
  background-repeat: no-repeat;
  background-size: 320px 34px;
  background-position: bottom;
  color: #FFFFFF;

  @media (min-width: @tablet-width) {
    background-image: url(../../img/angle-div.svg);
    background-size: 1280px 68px;
    background-color: #353535;
  }
}

.advantages__wrapper {
margin-block-end: 34px;

  @media (min-width: @tablet-width) {
    margin-block-end: 42px;
    padding-inline: 35px;
  }

  @media (min-width: @desktop-width) {
    margin-block-end: 64px;
    padding-inline: 0;
  }
}

.advantages__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: @tablet-width) {
    padding-block-end: 60px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.advantages__item {
  padding-block: 40px 30px;
  background-repeat: no-repeat;
  background-position: center top 40px;

  @media (min-width: @tablet-width) {
    padding-inline-start: 128px;
    text-align: left;
    background-position: left center;
  }

  @media (min-width: @desktop-width) {
    padding-inline: 45px;
    padding-block: 158px 56px;
    text-align: center;
    background-position: center top 30px;
  }
}

.advantages__item--fast {
  background-image: url(../../img/advantage-1-icon.svg);
}

.advantages__item--cool {
  background-image: url(../../img/advantage-2-icon.svg);
}

.advantages__item--price {
  background-image: url(../../img/advantage-3-icon.svg);
}

.advantages__title {
  margin-block: 0 12px;
  padding-block-start: 125px;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    padding-block-start: 0;
  }
}

.advantages__description {
  margin-block: 0;
  font-size: 20px;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 27px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 27px;
  }
}

.advantages__toggles {
  text-align: center;
  margin: 0;
  padding-block-end: 46px;


  @media (min-width: @tablet-width) {
    display: none;
  }
}
