.news {
  background-color: #F8F5F2;
  color: #000000;
}

.news__wrapper {
  text-align: center;
  border: 1px #E5DDD5 solid;
}

.news__title {
  margin: 0;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}

.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.news__link {
  display: flex;
  text-decoration: none;
  color: inherit;
}

.news__date {
  inline-size: 50px;
  block-size: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  background-color: #000000;
  color: #FFFFFF;
}

.news__day {
  font-size: 30px;
}

.news__text {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
}

.news__to-all {
  margin: 0;
  font-size: 18px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
