.news {
  position: relative;
  background-color: #F8F5F2;
  color: #000000;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    inline-size: 100%;
    block-size: 2px;
    background-color: #E5DDD5;

    @media (max-width: @mobile-width-only) {
      inline-size: 280px;
      left: 20px;
    }
  }
}

.news__wrapper {
  position: relative;
  padding-block: 0 28px;
  text-align: center;

  @media (min-width: @tablet-width) {
    padding-block: 0;
  }
}

.news__title {
  margin-block: 0 27px;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-inline-start: 69px;
  }
}

.news__list {
  max-block-size: 288px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow-y: hidden;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 46px;
    overflow-x: hidden;
  }

  @media (min-width: @desktop-width) {
    overflow-x: auto;
  }
}

.news__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 21px;
  margin-block-end: 34px;

  @media (max-width: @mobile-width-only) {
    &::after {
      position: absolute;
      content: "";
      bottom: -18px;
      inline-size: 280px;
      block-size: 2px;
      background-color: #E5DDD5;
    }
  }
}

.news__date {
  position: relative;
  top: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inline-size: 50px;
  block-size: 60px;
  margin-inline: auto;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
  background-image: url(../../img/date-back.svg);
  background-size: 50px 60px;
  background-position: top 5px;
  color: #FFFFFF;
}

.news__day {
  position: relative;
  top: 5px;
  font-size: 30px;
}

.news__text {
  inline-size: 210px;
  margin: 0;
  text-align: left;
  font-size: 18px;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    inline-size: 203px;
  }
}

.news__to-all {
  inline-size: 280px;
  margin-block-start: 17px;

  @media (min-width: @tablet-width) {
    inline-size: 160px;
    margin-block-start: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
}
