.reviews {
  background-color: #F8F5F2;
  color: #000000;
}

.reviews__wrapper {
  position: relative;
  text-align: center;
}

.reviews__title {
  margin: 0;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-inline-start: 69px;
  }
}

.reviews__write {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;

  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.reviews__item {
  margin: 0;
  border: 1px #E5DDD5 solid;
  @media (min-width: @tablet-width) {
    display: none
  }
}

.reviews__item--current {
  display: block;
}

.reviews__avatar {
  display: inline-block;
  inline-size: 50px;
  block-size: 50px;
}

.reviews__author-info {
  display: inline-block;
}

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
}

.reviews__text {
  text-align: left;
  font-size: 18px;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    max-inline-size: 345px;
  }
}
