.reviews {
  background-color: #F8F5F2;
  color: #000000;
  padding-block: 27px 18px;

  @media (min-width: @tablet-width) {
    padding-block: 37px 55px;
  }

  @media (min-width: @desktop-width) {
    padding-block-end: 40px;
  }
}

.reviews__wrapper {
  position: relative;
  text-align: center;
}

.reviews__title {
  margin-block: 0 28px;
  font-size: 30px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    text-align: left;
    font-size: 40px;
  }

  @media (min-width: @desktop-width) {
    margin-inline-start: 69px;
  }
}

.reviews__write {
  @media (max-width: @mobile-width-only) {
    display: none;
  }

  @media (min-width: @tablet-width) {
    inline-size: 160px;
    position: absolute;
    top: 0;
    right: 0;
  }
}

.reviews__list {
  position: relative;
}

.reviews__item {
  display: flex;
  margin: 0;
  display: none;

  @media (min-width: @tablet-width) {
    inline-size: 542px;
    margin-inline: auto;
    border: 1px #E5DDD5 solid;
  }

  @media (min-width: @desktop-width) {
    inline-size: 820px;
  }
}

.reviews__item--current {
  display: flex;
}

.reviews__avatar {
  display: inline-block;
  inline-size: 50px;
  block-size: 50px;
  margin-block-start: 11px;
  margin-inline-end: 20px;

  @media (min-width: @tablet-width) {
    inline-size: 80px;
    block-size: 80px;
    margin-inline: 30px;
    margin-block: 40px;
    border-radius: 50%;
  }

  @media (min-width: @desktop-width) {
    inline-size: 249px;
    block-size: 160px;
    margin: 0;
    border-radius: 0;
  }
}

.reviews__author-info {
  display: inline-block;
  text-align: left;

  @media (min-width: @tablet-width) {
    padding-block-start: 31px;
  }
}

.reviews__author-name {
  font-size: 24px;
  line-height: 27px;
  font-weight: 700;
  font-style: normal;


}

.reviews__text {
  margin-block: 9px 28px;
  font-size: 18px;
  line-height: 27px;

  @media (min-width: @tablet-width) {
    margin-block: 12px 34px;
    max-inline-size: 345px;
  }
}

.reviews__button {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  inline-size: 50px;
  block-size: 162px;
  border: 1px #E5DDD5 solid;
  background-color: transparent;
  background-image: url(../../img/left\ arrow.svg);
  background-repeat: no-repeat;
  background-position: center;

  @media (max-width: @mobile-width-only) {
    display: none;
  }
}

.reviews__button--next {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}

.reviews__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 126px;
  block-size: 33px;
  margin: 0;
  margin-inline: auto;
  background-color: #F8F5F2;

  @media (min-width: @tablet-width) {
    position: relative;
    top: -16px;
    margin-block-end: -16px;
    border: 1px transparent solid;
  }

  @media (min-width: @desktop-width) {
    position: static;
    margin-block: 36px 0;
  }
}

.reviews__toggle {
  inline-size: 8px;
  block-size: 8px;
  padding: 0;
  background-color: transparent;
  border: 1px #353535 solid;
  transform: rotate(45deg);
}

.reviews__toggle:not(:last-of-type) {
  margin-inline-end: 23px;
}

.reviews__toggle--current {
  background-color: #353535;
}
