@font-face {
  font-family: "PT Sans";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/ptsans-400.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/ptsans-700.woff2") format("woff2");
}
img {
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page {
  block-size: 100%;
  font-size: 18px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 27px;
}
.page__body {
  min-block-size: 100%;
  margin: 0;
  background-color: #F8F5fF;
  color: #000000;
}
.slider__item {
  display: none;
}
@media (min-width: 768px) {
  .slider__item {
    display: block;
  }
}
.slider__item--current {
  display: block;
}
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: #ffffff;
}
@media (min-width: 768px) {
  .page-header {
    background-color: #000000;
  }
}
.page-header__logo {
  block-size: 85px;
  text-align: center;
}
@media (min-width: 768px) {
  .page-header__logo {
    order: 2;
    block-size: 400px;
    background-color: #000000;
    background-image: url("../../img/back-tablet.jpg");
    background-repeat: no-repeat;
    background-position: 50% -9px;
  }
}
@media (min-width: 1200px) {
  .page-header__logo {
    block-size: 648px;
    background-position: 50% 0;
    background-size: cover;
  }
}
.page-header__logo img {
  inline-size: 226px;
  block-size: 85px;
}
@media (min-width: 1200px) {
  .page-header__logo img {
    margin-block-start: 57px;
  }
}
.main-nav {
  position: relative;
  inline-size: auto;
  min-block-size: 51px;
  background-color: #826550;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #000000;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__list a {
  color: #ffffff;
}
@media (max-width: 767px) {
  .main-nav__toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 70px;
    height: 50px;
    background-color: #6a4d38;
    cursor: pointer;
    border: none;
  }
  .main-nav__toggle:hover,
  .main-nav__toggle:active {
    background-color: #624530;
  }
  .main-nav--closed .main-nav__toggle::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 17px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
    box-shadow: 0 8px 0 0 #ffffff, 0 16px 0 0 #ffffff;
  }
  .main-nav--closed .main-nav__toggle:active::before {
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
  }
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--closed .site-list__item--active {
    display: block;
  }
  .main-nav--closed .site-list__item--active a {
    padding-right: 70px;
    padding-left: 70px;
    text-align: center;
  }
  .main-nav--closed .user-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__toggle {
    top: 0;
    right: auto;
    left: 0;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #ffffff;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
  .main-nav--opened .main-nav__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;
    min-height: 80vh;
    background-color: #6a4d38;
  }
  .main-nav--opened .main-nav__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 7px;
    height: 100%;
    box-shadow: inset 4px 0 7px -2px rgba(0, 0, 0, 0.4);
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .main-nav__wrapper {
    position: static;
    min-height: 0;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
  .main-nav--nojs .site-list__item--active a {
    padding-right: 21px;
    padding-left: 21px;
    text-align: left;
  }
  .main-nav--nojs .user-list__item {
    display: block;
    background-color: #6a4d38;
  }
}
@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    inline-size: 84%;
    max-inline-size: 960px;
    margin-inline: auto;
  }
  .main-nav__toggle {
    display: none;
  }
}
.site-list {
  font-weight: bold;
}
@media (min-width: 768px) {
  .site-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    inline-size: 570px;
    flex-grow: 1;
  }
}
@media (min-width: 1200px) {
  .site-list {
    inline-size: 780px;
  }
}
@media (min-width: 768px) {
  .site-list__item {
    margin-inline-end: 32px;
  }
  .site-list__item:last-child {
    margin-inline-end: 0;
  }
  .site-list__item--active {
    position: relative;
  }
  .site-list__item--active::after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 3px;
    background: #826550;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    margin-right: 0;
  }
  .site-list__item--active::after {
    right: 30px;
    left: 30px;
  }
}
@media (min-width: 768px) {
  .site-list__item a[href]:hover {
    color: #826550;
    background-color: #000000;
  }
  .site-list__item a[href]:active {
    color: #ffffff;
    background-color: #000000;
    opacity: 0.3;
  }
}
@media (min-width: 1200px) {
  .site-list__item a[href]:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .site-list__item a[href]:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    opacity: 1;
  }
}
.site-list a {
  position: relative;
  display: block;
  padding-block: 12px;
  padding-inline: 21px;
  padding-block-end: 13px;
  font-size: 15px;
  line-height: 24px;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #826550;
  border-top: 1px solid #886e5b;
  border-bottom: 1px solid #71543f;
}
@media (min-width: 768px) {
  .site-list a {
    padding: 0;
    padding-top: 25px;
    padding-bottom: 23px;
    background: none;
    border: none;
  }
}
@media (min-width: 1200px) {
  .site-list a {
    padding-inline: 31px;
  }
}
@media (min-width: 768px) {
  .user-list {
    inline-size: 60px;
  }
}
.user-list__login {
  position: relative;
  display: block;
  padding: 17px 21px;
  padding-left: 49px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}
@media (min-width: 768px) {
  .user-list__login {
    width: 60px;
    height: 70px;
    padding: 0;
  }
  .user-list__login span {
    position: absolute;
    opacity: 0;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 1;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #826550;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:active .user-list__login-icon polygon {
    fill: #ffffff;
  }
}
@media (min-width: 1200px) {
  .user-list__login {
    position: relative;
    width: auto;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
    padding-bottom: 23px;
    padding-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
  }
  .user-list__login span {
    position: static;
    opacity: 1;
  }
  .user-list__login:hover {
    color: #000000;
    background-color: #ffffff;
  }
  .user-list__login:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
  }
  .user-list__login:hover .user-list__login-icon {
    opacity: 0.3;
  }
  .user-list__login:hover .user-list__login-icon polygon {
    fill: #000000;
  }
  .user-list__login:active .user-list__login-icon {
    opacity: 0.1;
  }
}
.user-list__login-icon {
  position: absolute;
  top: 17px;
  left: 21px;
  width: 16px;
  height: 16px;
  opacity: 0.3;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .user-list__login-icon {
    top: 29px;
    left: 12px;
  }
}
.wrapper {
  inline-size: 280px;
  margin-inline: auto;
}
@media (min-width: 768px) {
  .wrapper {
    inline-size: 640px;
  }
}
@media (min-width: 1200px) {
  .wrapper {
    inline-size: 960px;
  }
}
.stats {
  background-color: #292929;
  color: #ffffff;
}
@media (min-width: 768px) {
  .stats {
    background-color: #353535;
  }
}
@media (min-width: 768px) {
  .stats__wrapper {
    padding-block: 0;
    position: relative;
    top: -179px;
    margin-block-end: -179px;
  }
}
@media (min-width: 1200px) {
  .stats__wrapper {
    top: -149px;
    margin-block-end: -149px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-block-end: 47px;
  }
}
.stats__header {
  padding-inline: 20px;
  padding-block: 28px;
  background-color: #ffffff;
  color: #000000;
}
@media (min-width: 768px) {
  .stats__header {
    position: relative;
    padding-inline: 34px;
    padding-block-start: 32px;
    padding-block-end: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .stats__header {
    grid-template-columns: auto;
    grid-template-rows: min-content 1fr min-content;
    align-content: start;
  }
}
.stats__slogan {
  margin: 0;
  margin-block-end: 13px;
  text-align: center;
  text-transform: uppercase;
  font-size: 28px;
  line-height: 1;
  font-weight: bold;
}
@media (min-width: 768px) {
  .stats__slogan {
    margin-block-end: 17px;
    text-align: left;
    text-transform: none;
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .stats__slogan {
    margin-block-end: 32px;
  }
}
.stats__intro {
  margin: 0;
  font-size: 18px;
  line-height: 1.35;
  text-align: center;
}
@media (max-width: 767px) {
  .stats__intro br {
    display: none;
  }
}
@media (min-width: 768px) {
  .stats__intro {
    padding-inline-start: 34px;
    padding-block-start: 4px;
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .stats__intro {
    padding-inline-start: 0;
    margin-block-end: 5px;
  }
}
.stats__legend {
  margin: 0;
  display: block;
  font-size: 18px;
  line-height: 1;
}
.stats__legend--top {
  color: rgba(0, 0, 0, 0.3);
}
@media (max-width: 767px) {
  .stats__legend--top {
    display: none;
  }
}
.stats__legend--bottom {
  text-align: center;
  color: rgba(255, 255, 255, 0.3);
}
@media (min-width: 768px) {
  .stats__legend--bottom {
    display: none;
  }
}
.stats__list {
  margin: 0;
  margin-block-end: 20px;
  background-color: #353535;
}
@media (min-width: 768px) {
  .stats__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  .stats__list {
    margin: 0;
  }
}
.stats__item {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .stats__item {
    display: block;
    padding-inline: 34px;
    padding-block-start: 25px;
    padding-block-end: 30px;
  }
}
stats__item:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.05);
}
.stats__item:nth-child(2) {
  background-color: rgba(255, 255, 255, 0.12);
}
.stats__item:nth-child(4) {
  background-color: rgba(255, 255, 255, 0.12);
}
@media (min-width: 768px) {
  .stats__item:nth-child(4) {
    background-color: rgba(255, 255, 255, 0.05);
  }
}
.stats__number {
  font-weight: bold;
  font-size: 38px;
  line-height: 1;
}
.stats__number sup {
  position: static;
  margin-left: 5px;
  vertical-align: baseline;
  font-size: inherit;
}
@media (min-width: 768px) {
  .stats__number {
    margin-block-end: 12px;
    font-size: 62px;
  }
}
.stats__description {
  margin: 0;
  text-align: right;
  font-size: 18px;
  line-height: 1;
}
@media (min-width: 768px) {
  .stats__description {
    text-align: left;
    font-size: 20px;
  }
  .stats__description br {
    display: none;
  }
}
.advantages {
  background-color: #242424;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .advantages {
    background-color: #353535;
  }
}
@media (min-width: 768px) {
  .advantages__wrapper {
    inline-size: 570px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper {
    inline-size: 960px;
  }
}
.advantages__list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    padding-block-end: 60px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    display: flex;
    justify-content: space-between;
  }
}
.advantages__item {
  padding-block: 40px 30px;
  background-repeat: no-repeat;
  background-position: center top 40px;
}
@media (min-width: 768px) {
  .advantages__item {
    padding-inline-start: 128px;
    text-align: left;
    background-position: left center;
  }
}
@media (min-width: 1200px) {
  .advantages__item {
    padding-inline: 45px;
    padding-block: 158px 56px;
    text-align: center;
    background-position: center top 30px;
  }
}
.advantages__item--fast {
  background-image: url(../../img/advantage-1-icon.svg);
}
.advantages__item--cool {
  background-image: url(../../img/advantage-2-icon.svg);
}
.advantages__item--price {
  background-image: url(../../img/advantage-3-icon.svg);
}
.advantages__title {
  margin-block: 0 12px;
  padding-block-start: 125px;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__title {
    padding-block-start: 0;
  }
}
.advantages__description {
  margin-block: 0;
  font-size: 19px;
  line-height: 26px;
}
@media (min-width: 768px) {
  .advantages__description {
    font-size: 16px;
    line-height: 26px;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    font-size: 16px;
    line-height: 26px;
  }
}
.advantages__toggles {
  text-align: center;
  margin: 0;
  padding-block-end: 46px;
}
@media (min-width: 768px) {
  .advantages__toggles {
    display: none;
  }
}
.news {
  background-color: #F8F5F2;
  color: #000000;
}
.news__wrapper {
  position: relative;
  text-align: center;
  border: 1px #E5DDD5 solid;
}
.news__title {
  margin: 0;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .news__title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .news__title {
    margin-inline-start: 69px;
  }
}
.news__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .news__list {
    display: flex;
    gap: 46px;
    overflow-x: hidden;
  }
}
@media (min-width: 1200px) {
  .news__list {
    overflow-x: auto;
  }
}
.news__link {
  display: flex;
  gap: 21px;
  text-decoration: none;
  color: inherit;
}
.news__date {
  inline-size: 50px;
  block-size: 60px;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
  background-color: #000000;
  color: #FFFFFF;
}
.news__day {
  font-size: 28px;
}
.news__text {
  margin: 0;
  text-align: left;
  font-size: 16px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .news__text {
    inline-size: 203px;
  }
}
.news__to-all {
  margin: 0;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
@media (min-width: 768px) {
  .news__to-all {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.reviews {
  background-color: #F8F5F2;
  color: #000000;
}
.reviews__wrapper {
  position: relative;
  text-align: center;
}
.reviews__title {
  margin: 0;
  font-size: 26px;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .reviews__title {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .reviews__title {
    margin-inline-start: 69px;
  }
}
.reviews__write {
  margin: 0;
  font-size: 16px;
  line-height: 27px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
@media (min-width: 768px) {
  .reviews__write {
    position: absolute;
    top: 0;
    right: 0;
  }
}
.reviews__item {
  margin: 0;
  border: 1px #E5DDD5 solid;
}
@media (min-width: 768px) {
  .reviews__item {
    display: none;
  }
}
.reviews__item--current {
  display: block;
}
.reviews__avatar {
  display: inline-block;
  inline-size: 50px;
  block-size: 50px;
}
.reviews__author-info {
  display: inline-block;
}
.reviews__author-name {
  font-size: 22px;
  line-height: 27px;
}
.reviews__text {
  font-size: 14px;
  line-height: 27px;
}
@media (min-width: 768px) {
  .reviews__text {
    max-inline-size: 345px;
  }
}
.page-footer {
  background-color: #292929;
  color: #FFFFFF;
}
.page-footer__wrapper {
  position: relative;
  text-align: center;
  border: 1px #4A4A4A;
}
@media (min-width: 1200px) {
  .page-footer__wrapper {
    display: flex;
  }
}
@media (min-width: 768px) {
  .page-footer__contacts {
    text-align: left;
  }
}
@media (min-width: 1200px) {
  .page-footer__contacts {
    margin-inline-end: 90px;
  }
}
@media (min-width: 768px) {
  .page-footer__copyright {
    position: absolute;
    top: 0;
    right: 0;
  }
}
@media (min-width: 1200px) {
  .page-footer__copyright {
    position: relative;
    margin-inline-start: auto;
  }
}
.contacts {
  font-size: 18px;
  line-height: 27px;
}
.contacts__phone {
  text-decoration: none;
  color: inherit;
}
.social__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.social__link {
  text-decoration: none;
  color: inherit;
}
.copyright {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.copyright__link {
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
/*# sourceMappingURL=style.css.map */
