@font-face {
  font-family: "PT Sans Narrow";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/PT_Sans-Narrow-Web-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans Narrow";
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:
    url("../../fonts/PT_Sans-Narrow-Web-Bold.woff2") format("woff2");
}
